<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Admin for customer</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
<link rel="stylesheet" href="css/style2.css" type="text/css" media="all" />

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

<style>
body {

    background-image: url("https://images.pexels.com/photos/268415/pexels-photo-268415.jpeg?cs=srgb&dl=pexels-pixabay-268415.jpg&fm=jpg");
}</style>
</head>
<body>
	
	<nav class="navbar navbar-default">
	  <div class="container-fluid bg-warning">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Gbanking</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="/admin/home">Menu</a></li>
	    </ul>
	  </div>
	</nav>
	
	<div class="col-md-12">
 		<h3 style="text-align: center;">Customers</h3>

	    <div class="col-md-10 col-md-offset-1">
	    
	      <table class="table table-hover">
	      
	      	<thead class="thead-dark">
	            <th>Customer Name</th>
	            <th>Email</th>
	            <th>Phone Number </th>
	            <th>Account Number</th>
	            <th>Account Balance</th>
	            <th>Account Status</th>
	      	</thead>
		    <tbody>
		     	<tr th:each="customer : ${listCustomers}">
	                <td th:text="${customer.firstName +' '+ customer.lastName}">Full name</td>
	                <td th:text="${customer.email}">Email</td>
	                <td th:text="${customer.phoneNumber}">phone Number</td>
	                <td th:text="${customer.accountNumber}">Account Number</td>
	                <td th:text="${customer.accountBalance}">Account Balance</td>
	                <td th:text="${customer.accountStatus}">Account Status</td>

	            </tr>
		      
		    </tbody>
		  </table>
		</div>
	</div>

</body>
</html>